<h1><center>Wszystkie problemy projektu - <%= @project.nazwa %></center></h1>
<p><div class="odstep"><%= link_to "Stwórz nowy problem", :action => "new" %></div></p>
<table class='tab' align="center" cellspacing="0" cellpadding="0">
 <tr>
  <td width="40%"><p align="center"><i><b>Nazwa projektu</b></i></td>
  <td width="40%"><p align="center"><i><b>Opis</b></i></td>
   <td width="20%"><p align="center"><i><b>Usuń problem</b></i></td>
 </tr>

 <% @problem.each do |problem| %>
  <tr class="wiersz">
   <td><%= link_to problem.nazwa, :action=>'index_pod', :problem_id=>problem.id %></td>
   <td><%= problem.opis %></td>
    <td><%= button_to 'Usuń', project_problem_path(@project.id,problem), :method=>:delete, :class=>:destroy %></td>
  </tr>
 <% end %>
</table>

<br>
<p><%= link_to "Back to Projects", projects_path() %></p>