<h1></h1>
<table border="1">
 <tr>
  <td width="40%"><p align="center"><i><b>Nazwa projektu</b></i></td>
  <td width="40%"><p align="center"><i><b>Opis</b></i></td>
   <td width="20%"><p align="center"><i><b>Resultat</b></i></td>
 </tr>

 <% @problem.each do |problem|
       @result = Result.find_by_problem_id(problem.id) %>
  <tr>
   <td><%= link_to problem.nazwa%></td>
   <td><%= problem.opis %></td>
   <td><%= if (!@result.nil?)
               @result.wynik
           else
            link_to 'Dodaj resultat', new_project_problem_result_path(params[:project_id],problem.id)
               end %> </td>
  </tr>
 <% end %>
</table>
<p><%= link_to "Create new Podproblem", :action => "new_pod" %></p>
<br>
<p><%= link_to "Back to Problems", project_problems_path(Project.find(params[:project_id])) %></p>