<h1>Dodaj problem</h1>
<center>
<%= form_for [@project, @problem] do |f| %>

    <div class="field">
    <%= f.label :nazawa %><br />
    <%= f.text_field :nazwa %>
  </div>
<div class="field">
    <%= f.label :opis %><br />
    <%= f.text_field :opis %>
  </div>

  <div class="actions">
    <%= f.submit "Dodaj problem" %>
  </div>
<% end %>
    </center>