<h1>Problem#new</h1>
<%= form_for [@project, @pod_problem] do |f| %>

    <div class="field">
    <%= f.label :nazawa %><br />
    <%= f.text_field :nazwa %>
  </div>
<div class="field">
    <%= f.label :opis %><br />
    <%= f.text_field :opis %>
  </div>
    <div class="field">
    <%= f.label :id_problemu %><br />
    <%= f.text_field :id_problemu %>
  </div>

  <div class="actions">
    <%= f.submit "Dodaj podproblem" %>
  </div>
<% end %>