<h1>Projects#new</h1>
<%= form_for(@p) do |f| %>

    <% if @p .errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@p .errors.count, "error") %> prohibited this course from being saved:</h2>

      <ul>
      <% @p .errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


    <div class="field">
    <%= f.label :nazawa %><br />
    <%= f.text_field :nazwa %>
  </div>
<div class="field">
    <%= f.label :opis %><br />
    <%= f.text_field :opis %>
  </div>

<div class="actions">
    <%= f.submit "Dodaj projekt" %>
  </div>
<% end %>